<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Dashboard</title>
</head>
<body>
    <h1>Hi <%= req.user.name %></h1>
    <h1>Welcome To Daaashboardddd</h1>
    <a href="/logout">logout</a>
</body>
</html>