<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Dashboard</title>
</head>
<body>
    <%- include('../components/validationError') -%>

    <a href="/logout">logout</a>
    <h1>Hi <%= req.user.name %></h1>
    <h1>Welcome To Daaashboardddd</h1>
    <img src="<%= req.user.img %>" style="width: 100px; border-radius : 50%">
    
    <form action="/dashboard/edituser" method="POST" enctype="multipart/form-data">
        <input type="text" placeholder="name" name="name" value="<%= req.user.name %>">
        <input type="file" name="img">
        <input type="submit" value="Upload">
    </form>
</body>
</html>