<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        
        body {
            background-image: url('/pics/nodeJs.jpg');
        }

    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    
    <center>
        <h1 style="background-color: deeppink; display: table;">Welcome To Node.Js Home Page</h1>
    </center>
    <h3>Please choose where would you like to be directed:</h3>
    <b>
        <a href="/user">Users Page || </a>
        <a href="/auth/login">Login Page || </a>
        <a href="/auth/register">Register Page</a>
    </b>
    
</body>
</html>